{% extends 'base.html' %}

{% block ccd %}

	<div id="marine-content-inner">
		<section id="main-content">
			<div class="container">
				<div class="page-heading style3 wrapper border-bottom">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<br><h3>Podcasts</h3>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							{% if user.is_authenticated %}
                          <br>
                           <h4 class="breadcrumbs" align = "right"><span typeof="v:Breadcrumb"><a class="btn btn-dark" href="{%url 'outreach:addpod'%}" role="button">Add Podcast</a></span></h4>
                          {%endif%}
						</div>
					</div>
				</div>
				<div class="container"><br>
				  <main role="main">
            <div class="row">
            {% for podcast in pc.all%}
              <div class="col-md-4" style = "border-style:groove;">
                <div class = "container">
                <br>
                <h2 style="font-family: 'Raleway'; color:#169EB7;font-size: 150%; font-weight: bolder;">{{podcast.title}}</h2>
                <p>&nbsp;&nbsp;-{{podcast.month}}&nbsp;{{podcast.date}},&nbsp;{{podcast.year}}&nbsp;</p>
                <p class = "lead"style="font-family: 'Raleway'; color:black;font-size: 120%; font-weight: bolder; text-align:justify;">{{podcast.body}}</p>
                <p><a class="btn btn-secondary" href="{{podcast.url}}" target="_blank" role="button">View details &raquo;</a></p>
                </div>
              </div>
              {%endfor%}
            </div>
          </main>
        </div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/js/modernizr.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.sharre.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.knob.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="assets/js/masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script> 
<script type="text/javascript" src="assets/js/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.nouislider.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.validity.min.js"></script> 
<script type="text/javascript" src="assets/js/tweetie.min.js"></script> 
<script type="text/javascript" src="assets/js/script.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.enablelog.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script> 