 
<!DOCTYPE html>
<html lang="en">
{%load static %}
<style>

</style>
  <head>
    
    <title>Water Diplomacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="{% static "/fonts/icomoon/style.css" %}">
 
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "/css/magnific-popup.css"%}">
    <link rel="stylesheet" href="{%static "/css/jquery-ui.css"%}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css"%}">
    <link rel="stylesheet" href="{% static "/css/owl.theme.default.min.css"%}">

    <link rel="stylesheet" href="{%static "/css/bootstrap-datepicker.css"%}">

    <link rel="stylesheet" href="{%static "/fonts/flaticon/font/flaticon.css"%}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link rel="stylesheet" href="{%static "/css/aos.css" %}">

    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "/css/custom.css" %}">
 
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar  position-relative py-1 bg-light">
    <br>
    <div class = "container" align='center'>
        <h1 style="font-family: 'Times New Roman', Times, serif; color:black;font-size: 261%;">Science Communication for Water Diplomacy in the Brahmaputra</h1>
    </div>
  <div class = "container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-1 " style="font-size: 150%;font-family: 'Times New Roman', Times, serif;">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'mainsite:homepage'%}">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" style="font-size: 90%;font-family: 'Times New Roman', Times, serif;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'mainsite:aim' %}">Aim and Objective</a>
          <a class="dropdown-item" href="{%url 'mainsite:background' %}">Background</a>
          <a class="dropdown-item" href="{%url 'mainsite:activity'%}">Activities</a>
        
          <a class="dropdown-item" href="{%url 'mainsite:teams'%}">Team</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Outreach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News and Update</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    
    </ul>
     {% if user.is_authenticated %}
      <p class="mb-0"><a href="{% url 'account:logoutpage' %}" class="btn btn-primary py-2 px-4 text-white">Logout</a></p>
      {%else%}
      <p class="mb-0"><a href="{% url 'account:loginpage' %}" class="btn btn-primary py-2 px-4 text-white">Login</a></p>
      {%endif%}
  </div>
  
</nav>
</div>
</header>


    

  

   
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    {%block ccd%}
     <br>
    {%endblock%}



     <footer class="site-footer">
      <div class="container">

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="mb-5">
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>

            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>

    
    
   
  </div>
  <script src="{% static "/js/jquery-3.3.1.min.js"%}"></script>
  <script src="{% static "/js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "/js/jquery-ui.js" %}"></script>
  <script src="{% static "/js/popper.min.js" %}"></script>
  <script src="{% static "/js/bootstrap.min.js" %}"></script>
  <script src="{% static "/js/owl.carousel.min.js"%}"></script>
  <script src="{% static "/js/jquery.stellar.min.js"%}"></script>
  <script src="{% static "/js/jquery.countdown.min.js"%}"></script>
  <script src="{% static "/js/jquery.magnific-popup.min.js"%}"></script>
  <script src="{% static "/js/bootstrap-datepicker.min.js"%}"></script>
  <script src="{% static "/js/aos.js" %}"></script>

  <script src="{% static "/js/main.js"%}"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    
  </body>
</html>