{% extends 'base.html' %}

{% block ccd %}

	<div id="marine-content-inner">
		<section id="main-content">
			<div class="container">
				<div class="page-heading style3 wrapper border-bottom">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<br><h3>MultiMedia Stories</h3>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							{% if user.is_authenticated %}
                          <br>
                           <h4 class="breadcrumbs" align = "right"><span typeof="v:Breadcrumb"><a class="btn btn-dark" href="{%url 'stories:add'%}" role="button">Add Story</a></span></h4>
                          {%endif%}
						</div>
					</div>
				</div>
				<div class="container">
					{% for story in st.all%}
                    <br>
					<div class="jumbotron">
						<div class = "row">
						<div class = "col-4">
							<div class="text-left">
								<img src="{{story.image.url}}" class="img-fluid"  style = "width: 350px; height: 150px;" alt="Responsive image">
							  </div><br>
						</div>
						<div class = "col-8">
						<h3 class="display-5 text-left" style = "color:rgb(172, 27, 87)">{{story.title}}</h3>
						<p class="lead text-left" style = "font-size: medium;" >By- {{story.name}}</p>
						</div>
						</div>
						<hr class="my-4">
					<br>
					<div class = "text-center">
						<iframe width="450" height="180"src="{{story.url}}"></iframe>
					  </div>
					  </div>
					  {%endfor%}
				</div>
			</div>
		</section>
	</div>

{% endblock %}

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/js/modernizr.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.sharre.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.knob.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="assets/js/masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script> 
<script type="text/javascript" src="assets/js/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.nouislider.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.validity.min.js"></script> 
<script type="text/javascript" src="assets/js/tweetie.min.js"></script> 
<script type="text/javascript" src="assets/js/script.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.enablelog.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script> 