{% extends 'base.html' %}

{% block ccd %}

  
<div id="marine-content-inner"> 
  <section id="main-content"> 
    <div class="container">
        <br>
        <div class="row justify-content-end" style="font-size: 100%;font-weight:bold; font-family: Raleway;">
          <div class = "col-9">
            <h3 style="color: #169EB7; font-weight: bold;font-family: Raleway;">{{ns.title}}</h3>
            <p style="font-weight:100;font-family: Raleway;font-size:120%;">{{ns.body}}<br>{%if ns.has_url == True%}<a href = "{{ns.url}}" target = "_blank" style = "text-decoration:none"><span style="color: #169EB7;">Link of The News</span></a><br>{%endif%}{%if ns.has_file == True%}<a href = "{{ns.file.url}}" target = "_blank" style = "text-decoration:none"><span style="color: #169EB7;">Download</span></a>{%endif%}</p>
            
          
          </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                  <a href = "{%url 'news:nss' ns.year ns.month %}" style = "color:#169EB7; text-decoration: none;">Go Back</a><br><br>
              	<p style="color: #000; border-left: 2px solid #169EB7; padding-left: 15px;">
                <a href="{%url 'news:nss' 2020 'August'%}" style="color: #000;">Aug 2020</a><br><br>
                <a href="{%url 'news:nss' 2020 'September'%}" style="color: #000;">Sept 2020</a><br><br>
                <a href="{%url 'news:nss' 2020 'October'%}" style="color: #000;">Oct 2020</a><br><br>
                <a href="{%url 'news:nss' 2020 'November'%}" style="color: #000;">Nov 2020</a><br><br>
                <a href="{%url 'news:nss' 2020 'December'%}" style="color: #000;">Dec 2020</a><br><br>
                <a href="{%url 'news:nss' 2021 'January'%}" style="color: #000;">Jan 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'Febuary'%}" style="color: #000;">Feb 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'March'%}" style="color: #000;">Mar 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'April'%}" style="color: #000;">Apr 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'May'%}" style="color: #000;">May 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'June'%}" style="color: #000;">Jun 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'July'%}" style="color: #000;">Jul 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'August'%}" style="color: #000;">Aug 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'September'%}" style="color: #000;">Sept 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'October'%}" style="color: #000;">Oct 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'November'%}" style="color: #000;">Nov 2021</a><br><br>
                <a href="{%url 'news:nss' 2021 'December'%}" style="color: #000;">Dec 2021</a><br><br>
                <a href="{%url 'news:nss' 2022 'January'%}" style="color: #000;">Jan 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'February'%}" style="color: #000;">Feb 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'March'%}" style="color: #000;">Mar 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'April'%}" style="color: #000;">Apr 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'May'%}" style="color: #000;">May 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'June'%}" style="color: #000;">Jun 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'July'%}" style="color: #000;">Jul 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'August'%}" style="color: #000;">Aug 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'September'%}" style="color: #000;">Sept 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'October'%}" style="color: #000;">Oct 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'November'%}" style="color: #000;">Nov 2022</a><br><br>
                <a href="{%url 'news:nss' 2022 'December'%}" style="color: #000;">Dec 2022</a><br><br>
                <a href="{%url 'news:nss' 2023 'January'%}" style="color: #000;">Jan 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'February'%}" style="color: #000;">Feb 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'March'%}" style="color: #000;">Mar 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'April'%}" style="color: #000;">Apr 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'May'%}" style="color: #000;">May 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'June'%}" style="color: #000;">Jun 2023</a><br><br>
                <a href="{%url 'news:nss' 2023 'July'%}" style="color: #000;">Jul 2023</a><br><br>

              	</p>
            	</div>
          </div>
    </div>  
    </section>
 </div>
            	
<br>
{%endblock%}

<!-- /Marine Content Wrapper --> 

<!-- JavaScript --> 

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/js/modernizr.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.sharre.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.knob.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="assets/js/masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script> 
<script type="text/javascript" src="assets/js/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.nouislider.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.validity.min.js"></script> 
<script type="text/javascript" src="assets/js/tweetie.min.js"></script> 
<script type="text/javascript" src="assets/js/script.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.enablelog.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript">



jQuery(document).ready(function() {



    jQuery('.tp-banner').show().revolution(



    {



        dottedOverlay:"none",



        delay:16000,



        startwidth:1170,



        startheight:700,



        hideThumbs:200,



        thumbWidth:100,



        thumbHeight:50,



        thumbAmount:5,



        navigationType:"bullet",



        navigationArrows:"solo",



        navigationStyle:"preview2",



        touchenabled:"on",



        onHoverStop:"on",



        swipe_velocity: 0.7,



        swipe_min_touches: 1,



        swipe_max_touches: 1,



        drag_block_vertical: false,



                                parallax:"mouse",



        parallaxBgFreeze:"on",



        parallaxLevels:[7,4,3,2,5,4,3,2,1,0],



        keyboardNavigation:"off",



        navigationHAlign:"center",



        navigationVAlign:"bottom",



        navigationHOffset:0,



        navigationVOffset:20,



        soloArrowLeftHalign:"left",



        soloArrowLeftValign:"center",



        soloArrowLeftHOffset:20,



        soloArrowLeftVOffset:0,



        soloArrowRightHalign:"right",



        soloArrowRightValign:"center",



        soloArrowRightHOffset:20,



        soloArrowRightVOffset:0,



        shadow:0,



        fullWidth:"on",



        fullScreen:"off",



        spinner:"spinner4",



        stopLoop:"off",



        stopAfterLoops:-1,



        stopAtSlide:-1,



        shuffle:"off",



        autoHeight:"off",                       



        forceFullWidth:"off",                       



        hideThumbsOnMobile:"off",



        hideNavDelayOnMobile:1500,                      



        hideBulletsOnMobile:"off",



        hideArrowsOnMobile:"off",



        hideThumbsUnderResolution:0,



        hideSliderAtLimit:0,



        hideCaptionAtLimit:0,



        hideAllCaptionAtLilmit:0,



        startWithSlide:0,



        videoJsPath:"rs-plugin/videojs/",



        fullScreenOffsetContainer: ""   



    });



}); //ready



</script> 



<script src="assets/js/readmore.js"></script>

<script>
$('#info').readmore({
  moreLink: '<a href="#">Usage, examples, and options</a>',
  collapsedHeight: 384,
  afterToggle: function(trigger, element, expanded) {
    if(! expanded) { // The "Close" link was clicked
      $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
    }
  }
});

$('article').readmore({speed: 500});
</script>

<!-- Mirrored from marine.arenaofthemes.com/index-creative-light.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 May 2015 21:07:18 GMT -->