{% extends 'base.html' %}

{% block ccd %}

  
<div id="marine-content-inner"> 
    
    <!-- Main Content -->
    
    <section id="main-content"> 
      
      <!-- Container -->
      <br><br>
      <div class="container">
          <div class="row justify-content-start" style="font-size: 120%; font-family: Raleway;">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p style="color: #000; border-left: 2px solid #169EB7; padding-left: 15px;">
                <a href="{%url 'mainsite:background' %}" style="color: #000;">Background</a><br><br>
                <a href="{%url 'mainsite:activity'%}" style="color: #000;">Activities</a><br><br>
                <a href="{%url 'mainsite:teams'%}" style="color: #000;">Team</a>
              </p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="page-heading">
                <h2 style="color: #169EB7; font-weight: 400;">ACTIVITIES</h2>
              </div>
              <br>
                <p>
                    <strong style="color: #169EB7;"> Activity 1: Scoping research: </strong><br>
                    To conduct an in-depth study on the role of the media in water conflicts and cooperation in the Brahmaputra. The scoping research will try to understand media and science’s historical and current engagement: How do they work? Where do they find relevant experts? Where do they get their data and figures from? What are the implications of specific framing for water conflicts and cooperation? Does the current political situation influence the media's reporting?
                    <br><br>
                    It is usually not possible for them to atend workshops with continuation or at length. The inclusion and capacity building of the editors is significant as no matter how hard the journalist works for a report/story; unless it recieves approval from the editors it is a futile exercise.
                </p>
                <br><br>
                <p>
                    <strong style="color: #169EB7;">Activity 2: Communication strategy for scientists and media:</strong><br>
                    It will focus on improving communication skills of the scientific community and media through:<br><br>
                    <strong style="color: #169EB7;">Online course:</strong><br>
                    The aim of the online course will be to enable the scientists to communicate their work in a manner that is easily understood and disseminated by the media. The project will improve and retune an already existing course that at the moment is tailored for the Nile basin, to scale it up as a general course on communication skills for water diplomacy.
                    <br><br>
                    <strong style="color: #169EB7;">Webinar:</strong><br>
                    For the editors and journalists of the media outlets will be organized as it is usually not possible for them to attend workshops with continuation or at length. The inclusion and capacity building of the editors is significant as no matter how hard the journalist works for a report/story; unless it receives approval from the editors it is a futile exercise.
                </p>
                <br><br>
                <p>
                    <strong style="color: #169EB7;">Activity 3: Knowledge production:</strong><br>
                    Thematic workshop, focusing on aspects like disaster risk management, hydrogeology of the Brahmaputra River, socio-economic dependency on the river, gender and water diplomacy etc., will be conducted to build the capacity of media personnel. To sustain the process of science and media diplomacy for water, connecting the scientific community and media will be vital.
                    <br><br>
                    A roster of the scientific community, dividing them on the basis of their expertise will also be generated. While the multimedia stories/video grants would assist in bringing together researchers and media personnel with communities who live in the basin and are dependent on the natural resources of the basin for their livelihoods. A photography competition / exhibition will also be organized either online or during the thematic workshop.
                </p>
                <br><br>
                <p>
                    <strong style="color: #169EB7;">Activity 4: Outreach:</strong><br>
                    Social Media Campaign: In the 21st century, social media campaign is integral as an outreach mechanism for dissemination of information. On twitter, facebook and instagram, hashtags such as #EverydayBrahmaputra would be initiated for posting regular updates.
                    <br><br>
                    Podcasts will bring diverse stories from the basin, depicting the local communities’ association with the river from different aspects like social, cultural, economic, spiritual, religious, etc.
                </p>
            </div>
          </div>
        </div>
      
      

     
      
    </section>

    
    <!-- /Main Content -->
    
    <section id="main-content"> </section>
  </div>
  
  <!-- /Marine Conten Inner --> 
  
  <!-- Lower Footer -->
  
  
  
  <!-- /Lower Footer --> 
  
</div>
<br>
{%endblock%}

<!-- /Marine Content Wrapper --> 

<!-- JavaScript --> 

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/js/modernizr.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.sharre.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.knob.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="assets/js/masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script> 
<script type="text/javascript" src="assets/js/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.nouislider.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.validity.min.js"></script> 
<script type="text/javascript" src="assets/js/tweetie.min.js"></script> 
<script type="text/javascript" src="assets/js/script.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.enablelog.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript">



jQuery(document).ready(function() {



    jQuery('.tp-banner').show().revolution(



    {



        dottedOverlay:"none",



        delay:16000,



        startwidth:1170,



        startheight:700,



        hideThumbs:200,



        thumbWidth:100,



        thumbHeight:50,



        thumbAmount:5,



        navigationType:"bullet",



        navigationArrows:"solo",



        navigationStyle:"preview2",



        touchenabled:"on",



        onHoverStop:"on",



        swipe_velocity: 0.7,



        swipe_min_touches: 1,



        swipe_max_touches: 1,



        drag_block_vertical: false,



                                parallax:"mouse",



        parallaxBgFreeze:"on",



        parallaxLevels:[7,4,3,2,5,4,3,2,1,0],



        keyboardNavigation:"off",



        navigationHAlign:"center",



        navigationVAlign:"bottom",



        navigationHOffset:0,



        navigationVOffset:20,



        soloArrowLeftHalign:"left",



        soloArrowLeftValign:"center",



        soloArrowLeftHOffset:20,



        soloArrowLeftVOffset:0,



        soloArrowRightHalign:"right",



        soloArrowRightValign:"center",



        soloArrowRightHOffset:20,



        soloArrowRightVOffset:0,



        shadow:0,



        fullWidth:"on",



        fullScreen:"off",



        spinner:"spinner4",



        stopLoop:"off",



        stopAfterLoops:-1,



        stopAtSlide:-1,



        shuffle:"off",



        autoHeight:"off",                       



        forceFullWidth:"off",                       



        hideThumbsOnMobile:"off",



        hideNavDelayOnMobile:1500,                      



        hideBulletsOnMobile:"off",



        hideArrowsOnMobile:"off",



        hideThumbsUnderResolution:0,



        hideSliderAtLimit:0,



        hideCaptionAtLimit:0,



        hideAllCaptionAtLilmit:0,



        startWithSlide:0,



        videoJsPath:"rs-plugin/videojs/",



        fullScreenOffsetContainer: ""   



    });



}); //ready



</script> 



<script src="assets/js/readmore.js"></script>

<script>
$('#info').readmore({
  moreLink: '<a href="#">Usage, examples, and options</a>',
  collapsedHeight: 384,
  afterToggle: function(trigger, element, expanded) {
    if(! expanded) { // The "Close" link was clicked
      $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
    }
  }
});

$('article').readmore({speed: 500});
</script>

<!-- Mirrored from marine.arenaofthemes.com/index-creative-light.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 May 2015 21:07:18 GMT -->