{% extends 'base.html' %}
{% load static %}
{% block ccd %}

  
<div id="marine-content-inner"> 
    
    <!-- Main Content -->
    
    <section id="main-content"> 
      
      
      <br><br>
      <div class="container">
          <div class="row justify-content-start" style="font-size: 120%; font-family: Raleway;">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p style="color: #000; border-left: 2px solid #169EB7; padding-left: 15px;">
                <a href="{%url 'mainsite:background' %}" style="color: #000;">Background</a><br><br>
                <a href="{%url 'mainsite:activity'%}" style="color: #000;">Activities</a><br><br>
                <a href="{%url 'mainsite:teams'%}" style="color: #000;">Team</a>
              </p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
              <div class="page-heading">
                <h2 style="color: #169EB7; font-weight: 400;">BACKGROUND</h2>
              </div>
              
              <img src="/static/images/bg.JPG" width="100%">
              <br><br>
              <p>
                The Project Lead (Anamika Barua) and two other team members (Sumit Vij and Arundhati Deka) have been associated with the initiative <b>"Transnational Policy Dialogue for Improved Water Governance of Brahmaputra River"</b> (Brahmaputra Dialogue or BD initiative).
              </p>
              
              <p>
                The last phase of the initiative was also hosted by IIT Guwahati under the Department of Humanities and Social Sciences. The BD initiative has been ongoing since 2013, beginning as a bilateral dialogue between India and Bangladesh and then moving into a multi-track and multilateral dialogue with the inclusion of China and Bhutan as well.
              </p>
              <p>
                While stakeholder involvement has been majorly from the academic community, civil society and policy makers, one of the crucial elements missing in the BD initiative is the involvement of the media, due to certain associated fears and distrust among the communities.
              </p>
              <br><br><br>
              <div class="page-heading">
                <center><h2 style="color: #169EB7; font-weight: 500;">The Bramhaputra Basin</h2></center>
              </div>
              <br>
              <center><img src="/static/images/bramhaputra.jpg" style="width: 100%;">
              <h6 style="margin-left: 6% ;align:justify; font-family: 'Raleway';font-size: 85%; font-weight: bolder;"><br>'Map Credits: Juna Probha Devi, PhD Scholar, IIT Guwahati.'</h6></center>
              <br>
              <p>
                The project aims to bridge this gap by bringing the water scientists (multiple disciplines) and media on one platform to facilitate water diplomacy in the Brahmaputra Basin. With lack of communication between media and water scientists, journalists are often not able to access scientific knowledge. This project will engage with key media personnel at local, national and regional levels to discuss various aspects of the basin.
              </p>
              <p>
                The media-science dialogues will play a crucial role in building capacity and disseminating accurate information among the stakeholders for well informed and responsible reporting. This project will also seek to change the existing narrative through providing multiple sources of authentic information to journalists. It will reflect on the broader question towards the shared water issue of “are media and science part of the problem or part of the solution?”
              </p>
              <p>
                The project will also focus on understanding how the relation between media, science and politics unfolds in the basin, while trying to understand whether the current political situation encourages “going towards” or “going against” a culture of dialogue and cooperation, and the role that communication of techno-scientific issues plays in this regard.
              </p>
            </div>
          </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- /Main Content -->
    
    <section id="main-content"> </section>
  </div>
  
  <!-- /Marine Conten Inner --> 
  
  <!-- Lower Footer -->
  
  
  
  <!-- /Lower Footer --> 
  
</div>

{%endblock%}

<!-- /Marine Content Wrapper --> 

<!-- JavaScript --> 

<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="assets/js/modernizr.js"></script> 
<script type="text/javascript" src="assets/js/wow.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.sharre.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.knob.js"></script> 
<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="assets/js/masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.masonry.min0226.js"></script> 
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script> 
<script type="text/javascript" src="assets/js/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.nouislider.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.validity.min.js"></script> 
<script type="text/javascript" src="assets/js/tweetie.min.js"></script> 
<script type="text/javascript" src="assets/js/script.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.enablelog.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript">



jQuery(document).ready(function() {



    jQuery('.tp-banner').show().revolution(



    {



        dottedOverlay:"none",



        delay:16000,



        startwidth:1170,



        startheight:700,



        hideThumbs:200,



        thumbWidth:100,



        thumbHeight:50,



        thumbAmount:5,



        navigationType:"bullet",



        navigationArrows:"solo",



        navigationStyle:"preview2",



        touchenabled:"on",



        onHoverStop:"on",



        swipe_velocity: 0.7,



        swipe_min_touches: 1,



        swipe_max_touches: 1,



        drag_block_vertical: false,



                                parallax:"mouse",



        parallaxBgFreeze:"on",



        parallaxLevels:[7,4,3,2,5,4,3,2,1,0],



        keyboardNavigation:"off",



        navigationHAlign:"center",



        navigationVAlign:"bottom",



        navigationHOffset:0,



        navigationVOffset:20,



        soloArrowLeftHalign:"left",



        soloArrowLeftValign:"center",



        soloArrowLeftHOffset:20,



        soloArrowLeftVOffset:0,



        soloArrowRightHalign:"right",



        soloArrowRightValign:"center",



        soloArrowRightHOffset:20,



        soloArrowRightVOffset:0,



        shadow:0,



        fullWidth:"on",



        fullScreen:"off",



        spinner:"spinner4",



        stopLoop:"off",



        stopAfterLoops:-1,



        stopAtSlide:-1,



        shuffle:"off",



        autoHeight:"off",                       



        forceFullWidth:"off",                       



        hideThumbsOnMobile:"off",



        hideNavDelayOnMobile:1500,                      



        hideBulletsOnMobile:"off",



        hideArrowsOnMobile:"off",



        hideThumbsUnderResolution:0,



        hideSliderAtLimit:0,



        hideCaptionAtLimit:0,



        hideAllCaptionAtLilmit:0,



        startWithSlide:0,



        videoJsPath:"rs-plugin/videojs/",



        fullScreenOffsetContainer: ""   



    });



}); //ready



</script> 



<script src="assets/js/readmore.js"></script>

<script>
$('#info').readmore({
  moreLink: '<a href="#">Usage, examples, and options</a>',
  collapsedHeight: 384,
  afterToggle: function(trigger, element, expanded) {
  if(! expanded) { // The "Close" link was clicked
    $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
  }
  }
});

$('article').readmore({speed: 500});
</script>

<!-- Mirrored from marine.arenaofthemes.com/index-creative-light.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 May 2015 21:07:18 GMT -->