<!DOCTYPE html>
<html lang="en">
{%load static %}
  <head>
    <title>Water Diplomacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="{% static "/fonts/icomoon/style.css" %}">
 
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "/css/magnific-popup.css"%}">
    <link rel="stylesheet" href="{%static "/css/jquery-ui.css"%}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css"%}">
    <link rel="stylesheet" href="{% static "/css/owl.theme.default.min.css"%}">

    <link rel="stylesheet" href="{%static "/css/bootstrap-datepicker.css"%}">

    <link rel="stylesheet" href="{%static "/fonts/flaticon/font/flaticon.css"%}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">

    <link rel="stylesheet" href="{%static "/css/aos.css" %}">

    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-1 bg-light" role="banner" >

      <div class="container" >
      <brb>
        <div class="row align-items-center">
          
           <div class="">
            <h1 class="mb-0"><a class="text-black h2 mb-0" style="font-family:'Times New Roman', Times, serif;font-size: 110%;">Science communication for water diplomacy in the Brahmaputra</a></h1>
          </div>
          <div class="col-80 col-md-0 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block" style="font-family:'Times New Roman', Times, serif;font-size: 170%;">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'mainsite:teams' %}">Teams</a></li>
                <li><a href="#">Outreach</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'account:loginpage' %}">Login</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-10 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                
                <li>
                  <a href="#" class="pl-3 pr-3 text-black"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3 text-black"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3 text-black"><span class="icon-instagram"></span></a>
                </li>
                
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

   
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    {%block ccd%}
     <br>
    {%endblock%}

    
    <footer class="site-footer">
      <div class="container">

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="mb-5">
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>

            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>
  <script src="{% static "/js/jquery-3.3.1.min.js"%}"></script>
  <script src="{% static "/js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "/js/jquery-ui.js" %}"></script>
  <script src="{% static "/js/popper.min.js" %}"></script>
  <script src="{% static "/js/bootstrap.min.js" %}"></script>
  <script src="{% static "/js/owl.carousel.min.js"%}"></script>
  <script src="{% static "/js/jquery.stellar.min.js"%}"></script>
  <script src="{% static "/js/jquery.countdown.min.js"%}"></script>
  <script src="{% static "/js/jquery.magnific-popup.min.js"%}"></script>
  <script src="{% static "/js/bootstrap-datepicker.min.js"%}"></script>
  <script src="{% static "/js/aos.js" %}"></script>

  <script src="{% static "/js/main.js"%}"></script>

  <script src="static/js/main.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    
  </body>
</html>