{% extends 'base.html' %}


    {% block nav %}

    {% if user.is_authenticated %}
                <li><a href="{% url 'mainsite:add'%}">Add Team</a></li>
                
                {% endif%}
    {% endblock  %}
 
{% block ccd  %}
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/css/teams.css' %}">
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
        {%for member in tm.all %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src = "{{member.image.url}}" alt="card image"></p>
                                    <h4 class="card-title">{{member.name}}</h4>
                                    <p class="card-text">{{member.email_id}}</p>
                                    <p class="card-text">{{member.phone}}</p>
                                    <p class="card-text">{{member.information}}</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center ">
                                    <h4 class="card-title">{{member.name}}</h4>
                                    <p class="card-text">{{member.information}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {%endfor%}
            

        </div>
    </div>
</section>
<!-- Team -->
{% endblock  %}